﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <table id="tblEnturnados"  class="table table-responsive"  cellspacing="0" data-page-length='10'>
        <thead>
            <tr class="headings">
        <thead>
            <tr>
                <th>MN</th>
                <th>Cliente</th>
                <th>Destino</th>
                <th>Producto</th>
                <th>Transportadora</th>
                <th>Placa</th>
                <th>Orden</th>
                <th>Carga.En</th>
                <th>Res.Turno</th>
                <th>Enturnado</th>
                <th>Sitio.Ent</th>
                <th>Citas PB</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>MN</th>
                <th>Cliente</th>
                <th>Destino</th>
                <th>Producto</th>
                <th>Transportadora</th>
                <th>Placa</th>
                <th>Orden</th>
                <th>Carga.En</th>
                <th>Res.Turno</th>
                <th>Enturnado</th>
                <th>Sitio.Ent</th>
                <th>Citas PB</th>
            </tr>
        </tfoot>

    </table>
    <div>
        <script type="text/javascript">
            $(document).ready(function () {
                
                // Setup - add a text input to each footer cell

                $('#tblEnturnados tfoot th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');


                });

                //$('#tblEnturnados tfoot tr').appendTo('#tblEnturnados thead');

                // DataTable
                var table = $('#tblEnturnados').DataTable({
                    "sAjaxDataProp": "",
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    "ajax": "http://localhost:1202/api/Reports/Enturnados",
                    "columns": [
                        { "data": "mn" },
                        { "data": "cliente" },
                        { "data": "destino" },
                        { "data": "producto" },
                        { "data": "transportadora" },
                        { "data": "placa" },
                        { "data": "orden" },
                        { "data": "carga_en" },
                        { "data": "reservaT" },
                        { "data": "enturnado" },
                        { "data": "sitioEnturnamiento" },
                        { "data": "citaSpb" }
                    ]
                   
                });


                // Apply the search
                table.columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            });
        </script>
    </div>
