﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<table id="tblVarios" class="table table-responsive" cellspacing="0" data-page-length='10'>
    <thead>
        <tr class="headings">
    <thead>
        <tr>
            <th>Deposito</th>
            <th>Concepto</th>
            <th>Escotilla</th>
            <th>Producto</th>
            <th>Bodega</th>
            <th>Placa</th>
            <th>Consecutivo</th>
            <th>OrdenInterna</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Tara</th>
            <th>Bruto</th>
            <th>Neto</th>
            <th>EquipoDescargue</th>
            <th>Bas_tara</th>
            <th>Bas_destara</th>
            <th>Observaciones</th>
            <th>TiCncpto</th>   
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Deposito</th>
            <th>Concepto</th>
            <th>Escotilla</th>
            <th>Producto</th>
            <th>Bodega</th>
            <th>Placa</th>
            <th>Consecutivo</th>
            <th>OrdenInterna</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Tara</th>
            <th>Bruto</th>
            <th>Neto</th>
            <th>EquipoDescargue</th>
            <th>Bas_tara</th>
            <th>Bas_destara</th>
            <th>Observaciones</th>
            <th>TiCncpto</th>   
        </tr>
    </tfoot>

</table>
<div>
    <script type="text/javascript">
        $(document).ready(function () {

            // Setup - add a text input to each footer cell

            $('#tblVarios tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');


            });


            // DataTable
            var table = $('#tblVarios').DataTable({
                "sAjaxDataProp": "",
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "ajax": "http://localhost:1202/api/Reports/Varios",
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Negotiate");
                },
                "columns": [

                                { "data": "deposito" },
                                { "data": "concepto" },
                                { "data": "escotilla" },
                                { "data": "producto" },
                                { "data": "bodega" },
                                { "data": "placa" },
                                { "data": "consecutivo" },
                                { "data": "ordenInterna" },
                                { "data": "entrada" },
                                { "data": "salida" },
                                { "data": "tara" },
                                { "data": "bruto" },
                                { "data": "neto" },
                                { "data": "equipoDescargue" },
                                { "data": "bas_tara" },
                                { "data": "bas_destara" },
                                { "data": "observaciones" },
                                { "data": "tiCncpto" }
                         ]
                       });


            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
</div>

